<div class="container" *ngIf="visible">
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 align-right">
        <input type="button" class="btn btn-secondary" (click)="back()" value="BACK">
      </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
          <form [formGroup]="dataform">
              <ng-container *ngFor="let ele of elementform">
                <!--Input text-->
                <div *ngIf="ele['type']=='text'" class="form-group">
                  <input type="text" class="form-control" formControlName="{{ele['name']}}" placeholder="{{ele['label']}}">
                  <span *ngIf="dataform.get(ele['name']).touched && 
                  dataform.get(ele['name']).invalid">El campo '{{ele['label']}}' es necesario</span>
                </div>
                <!--Select-->
                <div *ngIf="ele['type']=='select' || ele['type']=='multiselect'" class="form-group">
                  <select class="custom-select" formControlName="{{ele['name']}}">
                    <option value="null">{{ele['label']}}</option>
                    <option *ngFor="let o of filters[0][ele['name']]" value="{{o['value']}}">{{o['label']}}</option>    
                  </select>
                  <span *ngIf="dataform.get(ele['name']).touched && 
                  (dataform.get(ele['name']).invalid || dataform.get(ele['name']).value==null)">El campo '{{ele['label']}}' es necesario</span>
                </div>
                <!--Textarea-->
                <div *ngIf="ele['type']=='textarea'" class="form-group">
                  <textarea class="form-control" rows="4" cols="50" placeholder="{{ele['label']}}" formControlName="{{ele['name']}}"></textarea>
                  <span *ngIf="dataform.get(ele['name']).touched && 
                  dataform.get(ele['name']).invalid">El campo '{{ele['label']}}' es necesario</span>
                </div>
              </ng-container>
              <button (click)="save()" class="btn btn-secondary" [disabled]="dataform.invalid">Guardar</button>
              </form>
      </div>
    </div>
    </div>
</div>




  
  
